HELP.md
target/**
**/src/test/**/target/
**/target/classes/**
**/src/main/webapp/
**/src/test/
**/src/main/resources/logback-spring.xml
**/.classpath
**/.project
**/.settings/**
**/bin/**
**/**.svn-base
target/**
bin/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
.DS_Store
